<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MMM-dd HH:mm:ss} [%t] %-5level %-50c{1.} - %msg%n</Property>
        <Property name="LOG_PATH">/usr/app/fxservice/fx-referencedata/logs</Property>
    </Properties>
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>


        <RollingFile name="File"
                     fileName="${LOG_PATH}/fx-referencedata.log"
                     filePattern="${LOG_PATH}/fx-referencedata-%d{MM-dd-yyyy}-%i.log"
                     ignoreExceptions="false">

            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
               <!-- <OnStartupTriggeringPolicy/>-->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${LOG_PATH}/fx-referencedata-*.log"/>
                    <IfLastModified age="10d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root additivity="false" level="info" >
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>

